<div class="navbar bg-white py-3 px-4">
  <i class="fas fa-smile"></i>
  <div class="nav-bar-right d-flex align-items-center">
    <%= link_to "Profile", "#", class: "px-3 d-none d-sm-block" %>
    <%= link_to "Dashboard", "#", class: "px-3 d-none d-sm-block" %>
    <%= link_to "Login", "#", class: "px-3 d-none d-sm-block" %>
    <div class="dropdown  d-none d-sm-block">
      <%= image_tag "http://www.placehold.it/40x40", class: "rounded-circle px-3", alt:"avatar", type: "image", id: "dropdownMenuButton", data: { toggle:"dropdown" }, aria: { haspopup:"true", expanded: "false" } %>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <%= link_to "Action", "#", class: "dropdown-item" %>
        <%= link_to "Another action", "#", class: "dropdown-item" %>
        <%= link_to "Something else here", "#", class: "dropdown-item" %>
      </div>
    </div>
  </div>
  <div class="dropdown burger d-block d-sm-none">
    <i class="fas fa-bars" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
     <%= link_to "Action", "#", class: "dropdown-item" %>
     <%= link_to "Another action", "#", class: "dropdown-item" %>
     <%= link_to "Something else here", "#", class: "dropdown-item" %>
   </div>
 </div>
</div>