<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @artist.band_name %></h1>
      <%= link_to "Back to all artists", root_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Offer</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Category</th>
            <th>Price</th>
            <th>Location</th>
            <th>Travel</th>
          </thead>
            <tr>
              <td><%= @artist.category.name %></td>
              <td><%= @artist.price %>€</td>
              <td><%= @artist.location %></td>
              <td><%= @artist.area_range %>km</td>
              <td>
                <%= link_to artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_artist"></i>
                <% end %>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <%# <div class="col-sm-12 col-md-6">
      <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
    <%# </div> %>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Reviews</h3>
      <% if @artist.reviews.empty? %>
        <p>Be the first to let a review</p>
      <% else %>
        <ul class="list-group">
          <% @artist.reviews.each do |review| %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="badge badge-primary badge-pill">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </span>
              <%= review.comment %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%# <div class="col-xs-12">
      <%= render "reviews/new", cocktail: @cocktail, review: @review %>
    <%# </div> %>
  </div>
